<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> SAVE MOVIE </h2>
<form th:action="@{/save}" method="post" th:object="${movie}">
    <input type="text" placeholder="movie_name" th:field="*{name}"><br>
    <div th:each="genre : ${genres}">
        [[${genre.name}]] <input type="radio" th:value="${genre.name()}" th:field="*{genre}">
    </div><br>
    <input type="text" placeholder="date_of_release" th:field="*{date}"><br>
    <input type="number" placeholder="rating" th:field="*{rating}"><br>
    <input type="submit" value="SAVE">
</form>
<br>
<br>
<h4> Search movie </h4>
<form th:action="@{/search}" method="post" th:object="${searchDto}">
    <input type="text" placeholder="movie_name" th:field="*{name}"><br>
    <input type="text" placeholder="genre" th:field="*{genre}"><br>
    <input type="number" placeholder="rating_from" th:field="*{ratingFrom}"><br>
    <input type="number" placeholder="rating_to" th:field="*{ratingTo}"><br>
    <input type="submit" value="SEARCH">
</form>
<div th:each="fmv : ${foundMovies}">
    [[${fmv.name}]] [[${fmv.genre}]] [[${fmv.date}]]

</div>

</body>
</html>